.post {
    border: 1px solid #e2e2e2;
    background-color: white;
    margin-bottom: 16px;
    color: $dark;
    
    .post-content {
        padding: 16px;
    }
    
    .post-footer {
        display: flex;
        background-color: #e2e2e2;
        padding: 16px;
        text-align: center;
        
        .author {
            flex: 1;
        }
        
        .publish-date {
            flex: 1;
        }
    }
}