
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import "post";

h1, h2, h3, h4, h5, h6 {
  color: $dark;
}

body {
    background-color: white;
}

#wrapper {
  margin-bottom: 16px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar {
  margin-bottom: 0;
}

